<?xml version="1.0"?>
<launch>
	<!-- Configurable Parameters -->
	<arg name="robotName" default="ropod"/>
	<arg name="robotCommonName" default="ropod"/>
	<arg name="loadName" default="mobidik"/>
	<arg name="LOAD_ATTACHED" default="false" />
	<arg name="laser" default="true"/>
	<arg name="lidar" default="true"/>
	<arg name="laser1_name" value ="laser"/>
	<arg name="asus_cam" default="false"/>
	<arg name="asus_cam_name" value="asusxtion"/>
	<arg name="asus_cam_calibration" default="false"/>
	<arg name="gmapping" default="false"/>
        <arg name="sick_lms" default="true"/>
        <arg name="realsense" default="true"/>
        <arg name="triton" default="true"/>
    <arg name="floorplan" default="$(find ed_object_models)/models/brsu/walls/shape/map"/>
	<arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL)" />
	<arg name="robot_path" default="$(env CATKIN_WORKSPACE)/src/platform"/>

    <arg name="robotPackage" default="ropod_tue_2_bringup"/>
	<arg name="robot_bringup_path" default="$(arg robot_path)/$(arg robotPackage)"/>

	<group ns="$(arg robotName)">
		<!-- Start gmapping if required-->
		<group if="$(arg gmapping)">
			  <include file="$(find robot_common)/launch/localization/gmapping.launch">
				<arg name="robot" value="$(arg robotCommonName)" />
				<arg name="sensor" value="$(arg laser1_name)"/>
			</include>
		</group>

	  	<!-- Do for both: Simulator and Real Robot -->
		<group if="$(arg ROBOT_REAL)">
            <node pkg="twist_mux" type="twist_mux" ns="ropod_platform" name="twist_mux" output="screen">
                <remap from="cmd_vel_out" to="/cmd_vel"/>
                <rosparam file="$(find ropod_twist_mux)/ros/config/locks.yaml"  command="load"/>
                <rosparam file="$(find ropod_twist_mux)/ros/config/topics.yaml" command="load"/>
            </node>

            <node name="ropod_low_level_control" pkg="ropod_low_level_control" type="ropod_low_level_control_ros" output="screen">
                <param name="interfaceName"	value="eno1" />
                <param name="smart_wheels/invertedHubWheels" value="true" /> <!-- This is for SmartWheels v6 or higher. -->
		<param name="hasDockingMechanism" value="true" />
                <!--rosparam param="kinematicModel/xPositionSmartWheels"> [0.21, -0.21, -0.21, 0.21] </rosparam>
                <rosparam param="kinematicModel/yPositionSmartWheels"> [-0.21, 0.21, -0.21, 0.21] </rosparam-->
                <rosparam param="kinematicModel/xPositionSmartWheels"> [0.21, -0.21, -0.21, 0.21] </rosparam>
                <rosparam param="kinematicModel/yPositionSmartWheels"> [0.19, 0.19, -0.19, -0.19] </rosparam>
                <remap from="/$(arg robotName)/ropod_low_level_control/odom" to="/$(arg robotName)/odom_incomplete"/>
                <remap from="/ropod/cmd_vel" to="/cmd_vel"/>
                <param name="kinematicModel/wheelRadius" value="0.0564" />
            </node>
			<node name="reconfigure_ctrl" pkg="ropod_low_level_control" type="reconfigure_ctrl" output="screen"/>

			<!-- dynamic tf broadcaster -->
			<group unless="$(arg LOAD_ATTACHED)">
                <node pkg="$(arg robotPackage)" type="ropod_mobidik_tf_broadcaster_only_ropod" name="ropod_mobidik_tf_broadcaster_only_ropod" >
                    <remap from="/ropod/cmd_vel" to="/$(arg robotName)/cmd_vel"/>
                    <remap from="/ropod/odom" to="/$(arg robotName)/odom"/>
                </node>
			</group>

			<group if="$(arg LOAD_ATTACHED)">
			    <node pkg="$(arg robotName)_bringup" type="ropod_mobidik_tf_broadcaster" name="ropod_mobidik_tf_broadcaster" />
			</group>

			<!-- Specify static transforms -->
			<include file="$(arg robot_bringup_path)/parameters/hardware/static_tf.launch">
				<arg name="robot" value="$(arg robotName)" />
				<arg name="laser1" value="$(arg laser1_name)"/>
			</include>

            <!-- Laser publishing -->
            <group if="$(arg laser)">
                <include file="$(find robot_common)/launch/hardware/hokuyo_laser.launch">
                    <arg name="bringup_path" value="$(arg robot_bringup_path)"/>
                    <arg name="name" value="$(arg laser1_name)"/>
                    <arg name="robot" value="$(arg robotCommonName)"/>
                </include>
            </group>

       </group>
	</group>

    <group if="$(arg lidar)">    
        <include file="$(find robot_common)/launch/hardware/robosense_lidar.launch" />
    </group>

    <group if="$(arg sick_lms)">
        <include file="$(find robot_common)/launch/hardware/sick_lms.launch" />
    </group>

    <group if="$(arg realsense)">
        <include file="$(find robot_common)/launch/hardware/realsense_3d_rgbd.launch" />
    </group>

    <group if="$(arg triton)">
        <include file="$(find robot_common)/launch/hardware/triton.launch" />
    </group>

    <!-- SIMULATION -->
	<group unless="$(arg ROBOT_REAL)">
	        <group unless="$(arg LOAD_ATTACHED)">
                <include file="$(find ropod_sim_model)/launch/simulator/gazebo_simulator.launch" >
                    <arg name="robot" value="$(arg robotCommonName)" />
                    <arg name="model_name" value="$(arg robotCommonName)_$(arg loadName)" />
                    <arg name="model_path" value="$(arg robot_path)/$(arg robotCommonName)_sim_model" />
                    <arg name="movingObjects" value="true" />
                </include>

			    <!-- Launch tf broadcaster for ropod robot -->
           		<node pkg="$(arg robotPackage)" type="ropod_mobidik_tf_broadcaster_only_ropod" name="ropod_mobidik_tf_broadcaster_only_ropod" />
		</group>

		<group if="$(arg LOAD_ATTACHED)">
			<include file="$(find ropod_sim_model)/launch/simulator/gazebo_simulator.launch" >
				<arg name="robot" value="$(arg robotCommonName)" />
				<arg name="model_name" value="$(arg robotCommonName)_$(arg loadName)" />
				<arg name="model_path" value="$(arg robot_path)/$(arg robotCommonName)_model" />
			</include>
            <!-- Launch tf broadcaster for ropod robot -->
            <node pkg="$(arg robotPackage)" type="ropod_mobidik_tf_broadcaster_simulator" name="ropod_mobidik_tf_broadcaster_simulator" />
		</group>

		<!-- Specify static transforms -->
        <include file="$(arg robot_bringup_path)/parameters/hardware/static_tf.launch" >
			<arg name="robot" value="$(arg robotName)" />
			<arg name="laser1" value="$(arg laser1_name)"/>
		</include>

		<!-- Add floorplan. -->
       	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
			args="-file $(arg floorplan).urdf -urdf -z 1 -model floorplan -x -4.9 -y 9.8 -z 0 -Y -1.54" />

		<!-- Launch RVIZ -->
        <include file="$(arg robot_bringup_path)/launch/tools/rviz.launch">
            <arg name="robot_bringup" value="$(arg robot_bringup_path)"/>
        </include>

	</group>

</launch>
